/*!***************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[2].oneOf[8].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[2].oneOf[8].use[3]!./components/table/Table.module.css ***!
  \***************************************************************************************************************************************************************************************************************************************************************************/
/* components/MyTableComponent.module.css */

/* Add a local class 'myTable' to the table */
.Table_myTable__hLnYZ {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
  }
  
  /* Rest of the styles remain the same */
  .Table_myTable__hLnYZ th,
  .Table_myTable__hLnYZ td {
    padding: 10px;
    border: 1px solid #040339;
    border-radius: 5px;
  }
  
  .Table_myTable__hLnYZ thead {
    background-color: #9ec576;
  }
  
  .Table_myTable__hLnYZ tr:nth-child(even) {
    background-color: #f9f9f99d;
  }
  
  .Table_myTable__hLnYZ tr:hover {
    background-color: #dfdd99;
  }
  
